body{
    font-family: "Times New Roman", Times, serif;
    background-color: black;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(images/myAH39.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* width: 100%; */
}

a{
    text-decoration: none;
    color:  gainsboro;
}

.opzioni{
    width: 2%;
}

nav{
    border-bottom:  gainsboro solid 2px;
}

h1{
    color:  gainsboro;
    font-size: 400%;
}

ul{
    color:  gainsboro;
    font-size: 120%;
}

.titolo{
    border: solid 5px orange;
    /* width: 500px; */
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

#liste{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    gap: 30px;
}

input{
    width: 200px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
}

@media (max-width: 430px){
    h1{
        font-size: 150%;
    }

    input{
        width: 100px;
    }

    .titolo{
        border: solid 3px orange;
        padding: 10px;
    }
}